@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{  
    box-sizing: border-box;
    font-family:'Playfair Display';
}
:root{
    --background-color-:rgb(172, 159, 245);
    --items-color-:rgb(160, 131, 212);
    --btn-hover:aqua;
    
}
/* Body */
body{
   
    padding: 0.5rem;
    height: 125vh;
    display: grid;
    background-color:var(--background-color-);
  
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 8% 16% 10% 7% 50% 3% auto;
    grid-template-areas:
    "nav header nav2"
    "section section section"
    "section1 section1 section1"
    "section2 section2 section2"
    "section3 section3 section3"
    "next next next"
    "footer footer footer";
}
@media (max-width:915px){
    body{
       
        padding: 2rem;
        height: 100%;
        grid-template-columns:100%;
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
        "section" 
        "nav2"
        "section2"
        "section3"
        "next"
        "footer";
    }

}
/* Navigations Lists */
ul{
    list-style-type: none;
   margin: 0;
   padding: 0;   
}
li{
    float: left;
    margin-left: 2rem;
    line-height: 3rem;
}
/* Home */
.Home{
    text-decoration: none;
    color: black;
}
.Home:hover{
    color:var(--btn-hover);

}
/* Shop */
.Shop{
    text-decoration: none;
    color: black;
}
.Shop:hover{
    color:var(--btn-hover);

}
/* Featured */
.Featured{
    text-decoration: none;
    color: black;
}
.Featured:hover{
    color:var(--btn-hover);

}
@media (max-width:915px){
    nav{
        display: none;
        
    }
}
/* Header */
header{
    background-color:var(--background-color-);
    background-image: url(/shop3.jpeg);
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: contain;
    grid-area: header;
    text-align: center;
    display: flex;
    justify-content: center;
}
@media (max-width:1200px){
    header{
        background-image: none;
    }
}

/* Right-Side Navigation */
.nav2{
    background-color: var(--background-color-);
    grid-area: nav2;
    display: grid;
    grid-auto-flow: column;
}
@media (max-width:900px){
    .nav2{
        background-image: url(/Zik-shop-Collections/shop3.jpeg);
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
        flex-basis: 1;
        flex-grow: 1;
    }
}
/* Search */
input{
    border-radius: 1rem;
    border: 4px solid var(--items-color-);
}
.search-input{
    margin-left: 1rem;
    
}
@media (max-width:900px){
    .search-input{
        margin: 0;
    }
}
.Search-btn{
    display: block;
  
    margin-right: 1.7rem;
    text-align: center;
  
    margin-top: 0.8rem;
    width: 4rem;
    height: 2.5rem;
    line-height:2.5rem;
    text-decoration:none;
    color: black;
}

.Search-btn:hover{
    color:var(--btn-hover);
}
/* Join */
.Join-btn{
    margin-top: 0.45rem;
    border-radius: 1rem;
    text-align: center;
    width: 4rem;
    background-color:var(--items-color-);
    height:2.5rem;
    display: block;
    line-height: 2.5rem;
    text-decoration:none;
    color: black;
}
.Join-btn:hover{
    background-color:var(--btn-hover);
}
/* Login */
.Login-btn{
    border-radius: 1rem;
    text-align: center;
    width: 4rem;
    background-color: var(--items-color-);
    height:2.5rem;
    display: block;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    line-height:2.5rem;
    text-decoration:none;
    color: black;
}
.Login-btn:hover{
    background-color:var(--btn-hover);
}
/* Main Section  */
section{

    font-family: 'Playfair Display';
    background-color:  var(--background-color-);
    grid-area: section;
    text-align: center;
    display: grid;

}
@media (max-width:915px){
    section{
       
        background-image: url(/Zik-shop-Collections/shop3.jpeg);
    }
}
/* Welcome Texts and Span */
.text1{
    
   
    font-family:'Playfair Display';
    font-size: 1.3rem;
    font-weight: 300;
    background-color: var(--items-color-);
   
}
.text1 span{
    color:rgb(114, 76, 6);
}

.Zs b{
    border: 3px solid var(--background-color-);
    border-bottom-width: 8px;
    border-top-right-radius: 10px;
    border-top-color:var(--background-color-);
    border-right-color: var(--background-color-);
    background-color: var(--background-color-);
   
 
}

.text2{
    padding-top: 0.4rem;
    font-family:'Playfair Display';
    font-size: 1.7rem;
   
    background-color:  var(--items-color-);
}
.text2 b{
    color:rgb(114, 76, 6);

}
@media (max-width:915px){
    .text2{
    font-size: 1.1rem;
    
    }
}



/* Section1 */
.section1{
    background-color:var(--items-color-);
    grid-area: section1;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: flex-end;
}
@media (max-width:915px){
    .section1{
        display: none;
    
    }
}
/* Section2 */
.section2 div a{
    text-decoration: none;
    color: black;

}
.section2 div a:hover{
   color: aqua;

}
/* Learn */
.Learn{
    text-align: center;
    height: 2rem;
    width: 15rem;
    display:inline-block;
    text-decoration: none;
    background-color:var(--background-color-);
    color: black;
    margin-top: 2rem;
   
}
.Learn:hover{
    background-color:aqua ;
}
/* Find */
.Find{
    text-align: center;
    height: 2rem;
    width: 15rem;
    display:inline-block;
    text-decoration: none;
    background-color:var(--background-color-);
    color: black;
    
}
.Find:hover{
    background-color:aqua ;
}

/* View */
.View{
    text-align: center;
    height: 2rem;
    width: 15rem;
    display:inline-block;
    text-decoration: none;
    background-color:var(--background-color-);
    color: black;
}
@media (max-width:915px){
.Learn, .Find, .View{
    max-width: 900px;
    display: flex;
    flex-direction: column;
}
}
.View:hover{
    background-color:aqua;
}
/* Section2 */
.section2{
    background-color: var(--background-color-);
    grid-area: section2;
    display: flex;

}
/* Section2-items */
.sec2-items{
    margin: 1rem;
   
}
.sec2-items a{
   border: 3px solid ;
   border-color: transparent;
  border-top-color:rgb(114, 76, 6);
}
/* Section 3 */
.section3{
    grid-area:section3;
    background-color: var(--items-color-);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 100%;
  

}
.arrow-left{
    position: absolute;
    left: 0.5rem;
    background-color:var(--background-color-);
}
.arrow-right{
    position: absolute;
    right: 0.5rem;
    transform: rotate(180deg);
    background-color:var(--background-color-);
}
@media (max-width:915px){
    .arrow-left,.arrow-right{
        width: 10px;
        height: 10px;
        background-color: transparent;
       
    }
}

.arrow-left:hover,
.arrow-right:hover{
    background-color:none;
    padding: 0.8rem;

}



@media (max-width:915px){
    .section3{
        display: flex;
        flex-direction: column;

    }
}
img{
    width: 200px;
    box-shadow: 8px 2px 2px rgb(172, 170, 170);
    margin-top: 1rem;
    
    
}
@media (max-width:915px){
    img{
        max-width: 130px;
    }
}
img:hover{
    transform:scale(1.1);
}
.item-1{
    
    display: grid;
    justify-content: space-around;
    align-items: center;  
    background-color:var(--items-color-);
    border: 2px solid var(--background-color-);
    position: relative;

}

.item-2{

    display: grid;
    justify-content: space-around;
    align-items: center;

    background-color: var(--items-color-);
    border: 2px solid var(--background-color-);
    position: relative;
}
.item-3{
    display: grid;
    justify-content: space-around;
    align-items: center;

    background-color: var(--items-color-);
    border: 2px solid var(--background-color-);
    position: relative;
}
.item-1-info,.item-2-info,.item-3-info{
    width: 10rem;
    
}
.item-1-info:hover,
.item-2-info:hover,
.item-3-info:hover{
    transform:scale(1.1);
}
.shopping-cart{
    position: absolute;
    right: 0;
   bottom: 1.4rem;
   margin: 0;
   margin-right: 2rem;


}
.shopping-cart:hover{
    transform:scale(1.5);
}
.buy{
    margin-right: 1rem;
    padding: 1.3rem;
    text-decoration: none;
    color: green;
  
  
}
 
.cart{
    margin: 0; 
    
}


/* Item 3 info */
.item-1-info,.item-2-info,.item-3-info{
    color: green;
    margin-bottom: 1.39rem;
    background-color: white;
    text-align: center;
 
    
}

footer{
    background-color: var(--background-color-);
    grid-area:footer;
    display:grid;
    justify-content: space-around;
}
footer ul li a{
    text-decoration: none;
    color: black;
    margin: 1rem;
      

}
footer li a:hover{
    color: var(--btn-hover);
}
.next{
    grid-area: next;
    background-color:var(--background-color-);
    display: flex;
    justify-content: flex-end;

    
    
    
}
.next a{
    text-decoration: none;
    font-weight: 700;
    margin-top: 0.2rem;
    margin-right: 1.5rem;
    color:rgb(114, 76, 6);
    
    
}

